<div class="text-center">

  <h2>Title</h2>
  <input id= "title" value = "{{title}}">
  <h3>Description</h3>
 <input id= "description" value = "{{description}}">
  <p>Created by {{user.username}} : {{format_date date_created}}</p>
  <p>
    <button class="btn btn-primary" id="edit-btn">Edit Post</button>
  </p>
</div>
 

<script src="/js/updatePost.js"></script>